 /* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");




h1 {
  font-size: 6em;
  text-align: center;
}

h1 span {
  position: relative;
  display: inline-flex;
  color: #03a9f4;
}

h1 span:not(:nth-child(2), :nth-child(3)) {
  color: #414141;
  line-height: 1em;
  letter-spacing: -1em;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

h1:hover span:not(:nth-child(2), :nth-child(3)) {
  letter-spacing: 0;
  opacity: 1;
  visibility: visible;
}

h1 span:nth-child(3) {
  margin-left: -0.3em;
  font-size: 0.35em;
  transform: translateY(15px);
}

h1 i {
  position: absolute;
  transform: translateX(-50%);
  font-size: 18px;
  color: #777;
  font-weight: 400;
  font-style: initial;
  line-height: 1em;
}

h1 i::before {
  content: "Oxygen";
  position: absolute;
  text-align: center;
  width: 100%;
  display: initial;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

h1:hover i::before {
  opacity: 0;
  visibility: hidden;
  letter-spacing: 2em;
}

h1 i::after {
  content: "Helping Us Breathe Again";
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

h1:hover i::after {
  opacity: 1;
  visibility: visible;

} */